<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="/styles/seafood.css" type="text/css" />
  <!-- Include stylesheets -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- AJAX stylesheets -->
    <script type="text/javascript" src="/scripts/addto.js"></script>

  <!-- 'Source Sans Pro', sans-serif; font link -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('partials/_header') %>
  <div class="containers">
    <% for (let x= 6; x< 12; x++ ){ %>

      <div class="box">
        <img src="/images/<%= foods[x].image%>" alt="" class="box__image">
        <div class="box__content">
          <p class= 'dish'>
            <%= foods[x].name%>
          </p>
          <p>
            <%= foods[x].description%>
          </p>
        </div>

        <div class="box__info">  <!--image info-->
          <div>
            <p class= "price"> Price:<%= foods[x].price%>$</p>
          </div>
          <div>

            <form data-id="<%= foods[x].id%>"  class="form1">
              <button type="submit" class="cart-button">
                <span class="add-to-cart">Add to cart</span>
                <span class="added">Added</span>

              </button>
            </form>
          </div>
        </div>
      </div>
      <%}%>

      <script type="text/javascript" src="/scripts/shoppingcart.js"></script>
    </div>
    </div>

</body>

</html>
